<p style="margin-left:0px;margin-bottom:1px !important" class="comment">
	<img class="img-circle-comment image-popup-no-margins" border="2" width="25" height="40" src="/media/{{comment.user.profile.get_avatar}}" />
	<font size="2" color="#4169E1">
		<a href="{{comment.user}}" type='url' style='cursor:pointer;' class='user-page'>
					{{comment.user.get_full_name}}
		</a>
	</font>
	<font size="1" color="grey" style="float:right;padding:2px">{{comment.create_date}}</font>
	<font size="2">{{comment.comment}}</font>
	
</p>
<hr style="margin-top:0px;margin-bottom:0px" >



