{% extends "logbase.html" %}

<div class='container'>
<div class='jumbotron'><h2>Hai... Very warm welcome to Statter. Here you can post your ideas, add events and can attend your friends events  </h2>
</p>
{% block content %}
      <ul class="nav nav-tabs">
        <li><a href="/login" data-toggle="tab">Log in</a></li>
        <li><a href="/" data-toggle="tab">Register</a></li>
      </ul></div></div>
   <!--  {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="/login">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    </form>
    <p> </p> -->
  <!--   If you don't have an account please <a href="/register">Register</a> -->{% endblock %}